# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
env/
venv/
ENV/
.venv/

# Environment files
.env

# IDE / Editor settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Logs and cache
*.log
.cache/
*.pytest_cache/

# Build / distribution
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
